*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

    .container-login, .container-home{
        height: 70%;
        width: 80%;
        background-color: #fceffc;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -12px 10px 51px -5px rgb(0, 0, 0);
    }
    
        .container-signin, .container-signup{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
            .container-img{
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #be7dbe;
                animation-name: show-img;
                animation-duration: 1s;
            }
                .container-img img{
                    width: 80%;
                }

            .signin, .signup{
                display: flex;
                flex-direction: column;
                width: 60%;
                justify-content: space-evenly;
                align-items: center;
                margin: 10vh 0;
                animation-name: show-div;
                animation-duration: 1s;
            }
                .title{
                    font-size: 1.8rem;
                    font-weight: 700;
                    margin-bottom: 5vh;
                    color: #383838;
                }

                    .container-input{
                        position: relative;
                        width: 70%;
                    }
                    .input-label{
                        position: absolute;
                        transition: all 0.2s;
                        top: 4px;
                        left: 0;
                        color: #978d97;
                    }
                    
                    .input-login{
                        padding: 0.8rem 0;
                        width: 100%; 
                        height: 10%;
                        background: transparent;
                        outline: none;
                        border: none;
                        border-bottom: 2px solid #978d97;
                        transition: all 0.3s;
                        font-size: 1rem;
                    }
                    .input-login:focus{
                        border-bottom: 2px solid #d86bd8;
                    }
                    .input-login:focus + .input-label{
                        color: #d86bd8;
                        font-size: .7rem;
                        top: -12px;
                    }
                    .input-login:valid + .input-label{
                        color: #d86bd8;
                        font-size: .7rem;
                        top: -12px;
                    }

                .input-button{
                    width: 60%;
                    height: 12%;
                    border-radius: 30px;
                    background-color: #be7dbe;
                    border: none;
                    color: white;
                    font-size: 1rem;
                    margin-top: 3vh;
                }
                    .input-button:hover{
                        cursor: pointer;
                        background-color: #994399;
                    }
                .login-change-option{
                    color: #383838;
                }
                    .login-change-option:hover{
                        cursor: pointer;
                        color: #994399;
                    }
        .container-signup{
            flex-direction: row-reverse;
        }
    
    .container-home{
        flex-direction: column;
        animation-name: show-div-mobile;
        animation-duration: 1s;
    }

@keyframes show-img {
    from {
        width: 60%;
    }
    to{
        width: 40%;
    }
}
@keyframes show-div {
    from {
        width: 40%;
    }
    to{
        width: 60%;
    }
}
@keyframes show-div-mobile {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width:768px){
    .container-login, .container-home{
        height: 80%;
    }
    .container-img{
        display: none ;
    }   
    .signin, .signup{
        margin: 5vh 0 0 0 ;
        width: 100%;
        animation-name: show-div-mobile;
        animation-duration: 1s;
    }
}